# Telegram
TELEGRAM_BOT_TOKEN=isi_token_bot_telegram
TELEGRAM_CHAT_ID=isi_chat_id_telegram

# Wallet 1
CANTEX_OPERATOR_KEY_1=isi_operator_key_1
CANTEX_TRADING_KEY_1=isi_trading_key_1

# Wallet 2
CANTEX_OPERATOR_KEY_2=isi_operator_key_2
CANTEX_TRADING_KEY_2=isi_trading_key_2

# Wallet 3
CANTEX_OPERATOR_KEY_3=isi_operator_key_3
CANTEX_TRADING_KEY_3=isi_trading_key_3
